.bordaSelect{
    border-radius: 0rem; border-color: rgb(212, 212, 212);border-left: none;border-top: none;border-right: none;
    background-color: transparent;
}
.corFundo{
    background-color: #1f1e31;
}
.myBtn {
    position: fixed;
    bottom: 7%;
    right: 2%;
    z-index: 9999;

  }
  body{
    background-color: #181627;
    
  }
#principal{
  animation-duration: 1s;
  animation-name: slidein;
  
}
.transicao{
  padding-left: 5%;
  animation-duration: 1s;
  animation-name: slidein2;
}

@keyframes slidein2 {
  from {
    margin-left: 100%;
    width: 100%;
    opacity: 0%;
    
  }

  to {
    margin-left: 0%;
    width: 100%;
    padding-left: 5%;
  }
}

