.bordaSelect{
    border-radius: 0rem; border-color: rgb(212, 212, 212);border-left: none;border-top: none;border-right: none;
    background-color: rgb(39, 38, 38);
}
.corFundo{
    background-color: rgb(39, 38, 38);
}